[submodule "scheme"]
     path = scheme
	url = https://github.com/MOZI-AI/annotation-scheme.git
	branch = master 
[submodule "scm2csv"]
	path = utils/scm2csv
	url = https://github.com/MOZI-AI/scheme2csv.git
	branch = master
[submodule "ui"]
	path = ui
	url = https://github.com/MOZI-AI/annotation-UI
[submodule "utils/annotation_graph"]
	path = utils/annotation_graph
	url = https://github.com/Habush/annotation-graph
