[submodule "react"]
        path = react
        url = https://github.com/yisehak-awm/annotation-service-ui.git 
	branch = result-link
[submodule "scheme"]
        path = scheme
        url = https://github.com/tanksha/annotation-scheme.git 
	branch = development
[submodule "annotation-result-ui"]
	path = annotation-result-ui
	url = https://github.com/MOZI-AI/annotation-result-ui.git
[submodule "scm2csv"]
	path = utils/scm2csv
	url = https://github.com/MOZI-AI/scheme2csv.git
