version: "3"
services:
  backend:
    container_name: annotation-service
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "3002:3002" # Web Server
      - "3001:3001" # GRPC Proxy Server
      - "3000:3000" # GRPC Server
      - "8000:8000"
      - "8002:8002"
    environment:
      - SCM_DIR=/root/scm_result
      - PROD_MODE=0
      - SERVICE_PORT=3000
      - REDIS_URI=redis://redis:6379/0
      - MONGODB_URI=mongodb://mongo:27017/
      - SERVICE_ADDR=$SERVICE_ADDR
    working_dir: /root/mozi_annotation_service/
    command: bash -c "circusd --log-level debug circus.ini"
    links:
      - frontend

    volumes:
     - $SSL_CERT:/etc
     - $SNET_CERT:/ssl
     - $HOME/.mozi/prod:/opt
     - $DATASET:/root/mozi_annotation_service/datasets
     - $RESULT_DIR:/root/result

  frontend:
    container_name: ui
    build:
      context: ./ui
      dockerfile: Dockerfile
      args:
        - GRPC_ADDR=$GRPC_ADDR
        - RESULT_ADDR=$SERVICE_ADDR
    ports:
      - "3003:80" #annotation ui port

  redis:
    image: redis

  mongo:
    image: mongo
